<a href="https://colab.research.google.com/github/Prajith3/Real-World-Analytics/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Part A**

**Answer 1.1**

In [1]:
!pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=4f895ee5765d02df41e0f5c3574498c39ecdd7ff6b31b5db098c2a61a64b63b5
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [2]:
import wget
import json
import pandas as pd
import numpy as np
import math

In [3]:
# read json file
link_to_data = 'https://raw.githubusercontent.com/tulip-lab/sit742/develop/Assessment/2022/data/assignment2data.json'
DataSet = wget.download(link_to_data)

In [4]:
#load json file (Krunal, 2022)
pd_df = pd.read_json('/content/assignment2data.json', lines=True, orient='records')

In [5]:
#convert json file to csv

dfcsv = pd_df.to_csv('/content/assignment2data.csv', index=False)

#read the csv file
df = pd.read_csv('/content/assignment2data.csv')

#print the shape
print("The shape of the assessemnt 2 dataframe is:", df.shape)

The shape of the assessemnt 2 dataframe is: (46279, 43)

In [6]:
# Selecting duplicate rows except first (Ankthon, 2022)
# occurrence based on all columns
duplicate = df[df.duplicated()]
 
#Shape of duplicates
print("The shape of duplicate the rows is:", duplicate.shape)

The shape of duplicate the rows is: (249, 43)

In [7]:
#remove the duplicate rows
df_clean = df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

#Shape of clean dataframe
duplicate_row = len(df)-len(df_clean)
print('Number of duplicate rows are : {}'.format(duplicate_row))
print("The shape of the assessment 2 data, cleaned of duplicate rows is:", df_clean.shape)

Number of duplicate rows are : 249
The shape of the assessment 2 data, cleaned of duplicate rows is: (46030, 43)

**Answer 1.2**

In [8]:
#Alternative method
'''
def missingdf(df):
    columns = ["column_name", "percent_missing"]
    rate_list = {}
    for i in df.columns:
        rate_list[i] = df[i].isna().sum()/len(df)
    rate_df = pd.DataFrame.from_dict(rate_list, orient='index')
    rate_df = rate_df.reset_index(drop=False)
    rate_df.columns = columns
    return rate_df

param = missingdf(df_clean)
print(param)
'''
def missingdf(df):
  rate = list(round(df.isnull().sum()/len(df)*100,1))
  col_names = list(df.columns)
  rate_df = pd.DataFrame()
  rate_df['Column Names'] = col_names
  rate_df['Percent Missing'] = rate

  print(rate_df.to_string(index=False))

missingdf(df_clean)

            Column Names  Percent Missing
              sacc_items              0.0
             work_orders              0.0
            female_items              0.0
is_newsletter_subscriber              0.0
              male_items              0.0
       afterpay_payments              0.0
            msite_orders              0.0
              wftw_items              0.0
              mapp_items              0.0
                  orders              0.0
             cc_payments              0.0
             curvy_items              0.0
         paypal_payments              0.0
              macc_items              0.0
                 cancels              0.0
                 revenue              0.0
                 returns              0.0
 other_collection_orders              0.0
      parcelpoint_orders              0.0
             customer_id              0.0
          android_orders              0.0
   days_since_last_order              0.0
                vouchers              0.0
   average_discount_used              0.0
      shipping_addresses              0.0
    redpen_discount_used              0.0
              mftw_items              0.0
  days_since_first_order              0.0
            unisex_items              0.0
             home_orders              0.0
 coupon_discount_applied             22.2
          desktop_orders              0.0
              ios_orders              0.0
          apple_payments              0.0
              wspt_items              0.0
              wacc_items              0.0
                   items              0.0
              mspt_items              0.0
                 devices              0.0
     different_addresses              0.0
              wapp_items              0.0
     other_device_orders              0.0
average_discount_onoffer              0.0

**Answer 1.3**

In [9]:
from pandas.api.types import is_string_dtype, is_numeric_dtype

def column_list(df):
  numerical_list, categorical_list = list(),list()

  for i in df.columns:
    if is_numeric_dtype(df[i]):
      numerical_list.append(i)
    elif is_string_dtype(df[i]):
      categorical_list.append(i)
  return numerical_list,categorical_list

numerical_list,categorical_list = column_list(df_clean)
print(numerical_list)
print(categorical_list)

['sacc_items', 'work_orders', 'female_items', 'male_items', 'afterpay_payments', 'msite_orders', 'wftw_items', 'mapp_items', 'orders', 'cc_payments', 'curvy_items', 'paypal_payments', 'macc_items', 'cancels', 'revenue', 'returns', 'other_collection_orders', 'parcelpoint_orders', 'android_orders', 'days_since_last_order', 'vouchers', 'average_discount_used', 'shipping_addresses', 'redpen_discount_used', 'mftw_items', 'days_since_first_order', 'unisex_items', 'home_orders', 'coupon_discount_applied', 'desktop_orders', 'ios_orders', 'apple_payments', 'wspt_items', 'wacc_items', 'items', 'mspt_items', 'devices', 'different_addresses', 'wapp_items', 'other_device_orders', 'average_discount_onoffer']
['is_newsletter_subscriber', 'customer_id']

In [10]:
#Stats of the numerical column
df_clean[numerical_list].describe()

,sacc_items,work_orders,female_items,male_items,afterpay_payments,msite_orders,wftw_items,mapp_items,orders,cc_payments,...,apple_payments,wspt_items,wacc_items,items,mspt_items,devices,different_addresses,wapp_items,other_device_orders,average_discount_onoffer
count,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,...,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000,46030.000000
mean,0.087899,0.240995,6.472800,1.720660,0.053595,0.978557,1.633826,0.926613,4.111362,0.642972,...,0.000565,0.378753,0.573908,8.583750,0.116229,1.277580,0.116402,3.800782,0.000043,0.190171
std,0.539604,1.565071,17.830007,5.468827,0.225220,2.859161,4.088452,3.689578,8.122569,0.479128,...,0.023760,1.712662,2.542536,19.959377,0.716745,0.533286,0.320710,12.679782,0.009322,0.190702
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.150000
75%,0.000000,0.000000,5.000000,1.000000,0.000000,1.000000,2.000000,0.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,7.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.314300
max,29.000000,84.000000,537.000000,273.000000,1.000000,172.000000,261.000000,151.000000,665.000000,1.000000,...,1.000000,56.000000,353.000000,701.000000,38.000000,3.000000,1.000000,409.000000,2.000000,1.000000

**Answer 1.4**

In [10]:
print(df_clean.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46030 entries, 0 to 46278
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sacc_items                46030 non-null  int64
 1   work_orders               46030 non-null  int64
 2   female_items              46030 non-null  int64
 3   is_newsletter_subscriber  46030 non-null  object
 4   male_items                46030 non-null  int64
 5   afterpay_payments         46030 non-null  int64
 6   msite_orders              46030 non-null  int64
 7   wftw_items                46030 non-null  int64
 8   mapp_items                46030 non-null  int64
 9   orders                    46030 non-null  int64
 10  cc_payments               46030 non-null  int64
 11  curvy_items               46030 non-null  int64
 12  paypal_payments           46030 non-null  int64
 13  macc_items                46030 non-null  int64
 14  cancels                   46030 non-null  int64
 15  revenue                   46030 non-null  float64
 16  returns                   46030 non-null  int64
 17  other_collection_orders   46030 non-null  int64
 18  parcelpoint_orders        46030 non-null  int64
 19  customer_id               46030 non-null  object
 20  android_orders            46030 non-null  int64
 21  days_since_last_order     46030 non-null  int64
 22  vouchers                  46030 non-null  int64
 23  average_discount_used     46030 non-null  float64
 24  shipping_addresses        46030 non-null  int64
 25  redpen_discount_used      46030 non-null  float64
 26  mftw_items                46030 non-null  int64
 27  days_since_first_order    46030 non-null  int64
 28  unisex_items              46030 non-null  int64
 29  home_orders               46030 non-null  int64
 30  coupon_discount_applied   35826 non-null  float64
 31  desktop_orders            46030 non-null  int64
 32  ios_orders                46030 non-null  int64
 33  apple_payments            46030 non-null  int64
 34  wspt_items                46030 non-null  int64
 35  wacc_items                46030 non-null  int64
 36  items                     46030 non-null  int64
 37  mspt_items                46030 non-null  int64
 38  devices                   46030 non-null  int64
 39  different_addresses       46030 non-null  int64
 40  wapp_items                46030 non-null  int64
 41  other_device_orders       46030 non-null  int64
 42  average_discount_onoffer  46030 non-null  float64
dtypes: float64(5), int64(36), object(2)
memory usage: 15.5+ MB
None

**Answer 1.5**

In [11]:
#percentage of customers who have purchased female items have paid by credit card

def female_items_cc_payments_all_cust(y):
  all_cust = len(y)
  cc_payments = len(y[(y['female_items']>0)& (y['cc_payments']>0)])
  return np.round((cc_payments/all_cust)*100, 1)

def female_items_cc_payments_female_cust(x):
  female_cust = len(x[(x['female_items']>0)])
  female_cc_payments = len(x[(x['female_items']>0)& (x['cc_payments']>0)])
  return np.round((female_cc_payments/female_cust)*100, 1)

all_cust_female_items = female_items_cc_payments_all_cust(df_clean)
female_cust_female_items = female_items_cc_payments_female_cust(df_clean)

print('The percentage of customers who have purchased female items and paid through credit card is: {}'.format(all_cust_female_items))
print('The percentage of female customers who have purchased female items and paid through credit card is: {}'.format(female_cust_female_items))

The percentage of customers who have purchased female items and paid through credit card is: 48.8
The percentage of female customers who have purchased female items and paid through credit card is: 65.5

In [12]:
#total revenue to the nearest dollar for customers who have paid by credit card

def total_payment_cc(x):
  return math.ceil(x.loc[(x['cc_payments']>0),'revenue'].sum())

rev_cc = total_payment_cc(df_clean)
print('Revenue made to the nearest dollar by customers who paid through credit card: {}'.format(rev_cc))

Revenue made to the nearest dollar by customers who paid through credit card: 50189329

**Answer 1.6**

In [13]:
#Change value of Y and N to 1 and 0 in the is_newsletter_subscriber column

replace_vals = {'Y':1,'N':0}

df_clean = df_clean.replace({'is_newsletter_subscriber': replace_vals})
print(df_clean['is_newsletter_subscriber'])
#print(df_clean)
print(df_clean['is_newsletter_subscriber'].dtypes)
print(df_clean['is_newsletter_subscriber'].value_counts())

0        0
1        1
2        1
3        1
4        1
        ..
46274    0
46275    1
46276    0
46277    1
46278    1
Name: is_newsletter_subscriber, Length: 46030, dtype: int64
int64
0    27203
1    18827
Name: is_newsletter_subscriber, dtype: int64

**Answer 1.7**

In [14]:
#create some new features
df_clean['female_item_rate'] = df_clean['female_items'] / df_clean['items']
df_clean['male_item_rate'] = df_clean['male_items'] / df_clean['items']
df_clean['unisex_item_rate'] = df_clean['unisex_items'] / df_clean['items']

In [15]:
#Rows with value female_item_rate == 1 and the value male_item_rate == 1 and the value orders > 4.11

def threshold_valueorder_male_female(x, male_item_rate=1, female_item_rate=1, value_orders=4.11):
    return len(x[(x['female_item_rate'] == female_item_rate) & (x['male_item_rate'] == male_item_rate) & (x['orders'] > value_orders)])

print("The number of rows with the value satisfying the said criteria is: {}".format(threshold_valueorder_male_female(df_clean)))

The number of rows with the value satisfying the said criteria is: 0

**Answer 1.8**

In [21]:
#use the original format of the data
vals_replace = {1:'Y',0:'N'}

df_clean = df_clean.replace({'is_newsletter_subscriber': vals_replace})

#group data on the value of column is_newsletter_subscriber
newsletter_subscriber_group = df_clean.groupby(['is_newsletter_subscriber'])

print('The max order values by grouping is_newsletter_subscriber is {}'.format(newsletter_subscriber_group['orders'].max()))
print()
print('The average order values by grouping is_newsletter_subscriber is {}'.format(newsletter_subscriber_group['orders'].mean()))
print()
print('The median order values by grouping is_newsletter_subscriber is {}'.format(newsletter_subscriber_group['orders'].median()))

The max order values by grouping is_newsletter_subscriber is is_newsletter_subscriber
N    665
Y    234
Name: orders, dtype: int64

The average order values by grouping is_newsletter_subscriber is is_newsletter_subscriber
N    2.484175
Y    6.462474
Name: orders, dtype: float64

The median order values by grouping is_newsletter_subscriber is is_newsletter_subscriber
N    1.0
Y    3.0
Name: orders, dtype: float64